
/* NAVIGATION BAR */
.ul_nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	list-style-type: none;
  padding: 0;
}

li {
	font-weight: lighter;
	font-size: 15px;
	font-family: helvetica;
	color: white;
	padding: 40px;
}

li a {
  padding: 20px;
	color: #807878;
	text-decoration: none;
  border: 3px solid transparent;
}

li a:hover {
	padding: 20px;
	border: 3px solid #E35349;
	font-weight: lighter;
	text-decoration: none;
}
/* TEMPERATURE */
h1#temperature {
    font-family: arial;
    font-weight: bold;
    color: #E35349;
    text-align: center;
    font-size: 20px;
  }

/* BODY */
h1.welcome_text {
  font-family: arial;
  font-weight: bold;
  color: #E35349;
  text-align: center;
  font-size: 50px;
  padding: 10px;

}
div.head_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.thermostat_icon {
  padding-top: 20px;
}
